<!-- footer.ejs -->
<!-- 사이트 하단 -->

<footer class="fixed-bottom" style="background-color: #dee2e6;">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <!-- <h5 class="mb-3 text-dark">충북 사랑의 매듭</h5> -->
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>