<!-- footer.ejs -->
<!-- 사이트 하단 -->

<footer class="mt-auto" style="background-color: #dee2e6; position: relative;">
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023_LinkWith
    </div>
</footer>