<!-- walfare.ejs -->

<section id="welfare_banner">
  <img src="/image/느린학습자 홈페이지 복지사업 배너.jpg" alt="" style="width: 100%; height: 500px;">
  <h1 id="big_title">복지사업</h1>
</section>

<section id="welfare_bg">
  <div>
    <h2>복지사업</h2>
  </div>
  <div id="card-list">
    <div id="card" style="width: 22rem;">
      <img src="/image/복지사업1.jpg" class="card-img-top" alt="Image 1">
      <div id="card-body">
        <h5 class="card-text" style="font-weight: 500;">사단법인 느린학습자시민회</h5>
        <p style="font-size: 13px;">느린학습자의 교육, 돌봄 정책 지원 실천</p>
        <button type="button" class="btn btn-outline-warning"><a href="https://slowlearners.kr/">링크가기</a></button>
      </div>
    </div>

    <div id="card" style="width: 22rem;">
      <img src="/image/복지사업2.jpg" class="card-img-top" alt="Image 2">
      <div id="card-body">
        <h5 class="card-text" style="font-weight: 500;">피치마켓</h5>
        <p style="font-size: 13px;">느린학습자를 위한 컨텐츠 제작, <br>교육프로그램 기부 등</p>
        <button type="button" class="btn btn-outline-warning"><a href="https://www.peachmarket.kr/">링크가기</a></button>
      </div>
    </div>
    <div id="card" style="width: 22rem;">
      <img src="/image/복지사업3.png" class="card-img-top" alt="Image 3">
      <div id="card-body">
        <h5 class="card-text" style="font-weight: 500;">국립중앙청소년수련원</h5>
        <p style="font-size: 12px;">2022년 기준 3년째 실행되는 프로그램으로서<br>지역아동센터와 협업하여서<br>캠프같은 프로그램으로 흥미 유발</p>
        <button type="button" class="btn btn-outline-warning"><a
            href="https://nyc.kywa.or.kr/main/main.jsp">링크가기</a></button>
      </div>
    </div>
    <div id="card" style="width: 22rem;">
      <img src="/image/복지사업4.png" class="card-img-top" alt="Image 4">
      <div id="card-body">
        <h5 class="card-text" style="font-weight: 500;">사회복지공동모금회</h5>
        <p style="font-size: 13px;">아동보호센터에 직접 현장교사를 보내어서<br>체험활동 및 놀이활동 참여</p>
        <button type="button" class="btn btn-outline-warning"><a href="https://chest.or.kr/base.do">링크가기</a></button>
      </div>
    </div>
    <div id="card" style="width: 22rem;">
      <img src="/image/복지사업5.png" class="card-img-top" alt="Image 5">
      <div id="card-body">
        <h5 class="card-text" style="font-weight: 500;">한국학교사회복지사엽회</h5>
        <p style="font-size: 13px;">느린학습자 관련사업</p>
        <button type="button" class="btn btn-outline-warning"><a href="https://www.kassw.or.kr/">링크가기</a></button>
      </div>
    </div>
    <div id="card" style="width: 22rem;">
      <img src="/image/복지사업6.jpg" class="card-img-top" alt="Image 6">
      <div class="card-body">
        <h5 class="card-text" style="font-weight: 500;">한국사회복지관협회</h5>
        <p style="font-size: 13px;">지속적으로 느린학습자들을 지원하는<br>프로그램이나 사업을 진행중입니다</p>
        <button type="button" class="btn btn-outline-warning"><a href="https://kaswc.or.kr/">링크가기</a></button>
      </div>
    </div>
</section>