<!-- test/advancedTest.ejs -->
<!-- 고급 문제 페이지 -->

<div class="quiz_box">
    <h1>대화놀이</h1>
    <div class="exam">
        <h2 id="question">질문</h2>
        <div id="answer_buttons">
            <button class="answer_btn">Answer 1</button>
            <button class="answer_btn">Answer 2</button>
            <button class="answer_btn">Answer 3</button>
            <button class="answer_btn">Answer 4</button>
        </div>
        <button id="next_btn">다음</button>
    </div>
</div>
<script src="/js/quiz_Advanced.js"></script>