<!-- test/advanced.ejs -->
<!-- 고급 문제 시작 페이지 -->

<!-- Start Quiz Button -->
<!-- <img src="./image/퀴즈.png" class="quiz" alt=""> -->
<main>
    <div class="start_btn"><button>Start Quiz</button></div>
    <!-- Info Box -->
    <div class="info_box">
        <div class="info_title">
            <span>대화놀이</span>
        </div>
        <div class="info_list">
            <div class="info">1. 대화연습 <strong style="color: red;">고급방</strong>입니다.</div>
            <div class="info">2. 다음 대화에 이어질 알맞은 문장 혹은 단어를 잘 선택하세요.</div>
            <div class="info">3. 정답을 체크하는 순간 정답유무<strong>(정답은 초록색, 오답은 빨간색)</strong>가 보이니 신중히 선택하세요.</div>
        </div>
        <div class="buttons">
            <a href="/"><button id="quit">나가기</button></a>
            <a href="/test/advanced/start"><button id="restart">시작!</button></a>

        </div>
    </div>
</main>