<!-- test/basic.ejs -->
<!-- 초급 시험 안내페이지 -->

<div id="quiz_img">
    <div class="container">
        <div class="info_box">
            <h3>대화놀이</h3>
            <div class="info">1. 대화연습 <strong style="color: red;">초급방</strong>입니다.</div>
            <div class="info">2. 다음 대화에 이어질 알맞은 문장 혹은 단어를 잘 선택하세요.</div>
            <div class="info">3. 정답을 체크하는 순간 정답유무<strong>(정답은 초록색, 오답은 빨간색)</strong>가 보이니 신중히 선택하세요.</div>
            <div class="container">
                <img src="/image/대화놀이 캐릭터.png" alt="" style="width: 700px; height: 200px; margin-left: 40px"><br>
                <a href="/test/start" style="text-decoration: none;"><button type="button" class="btn btn-warning" style="padding: 10px 50px; color: #fff;">시작!</button></a>
            </div>
        </div>
    </div>
</div>